.wrapper{
    margin: 0 20px 30px 200px;
    width: 550px;
    height: 550px;
    display: flex;
    top:7%;
    right: 10%;
    flex-direction: column;
    background: #fafafaa8;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -7px -7px 5px  #3b3b3b,  5px 5px 5px  #3b3b3b;
    transition: all 0.2s ease-in-out;
   
    overflow: hidden;
    position: absolute;
}
.wrapper:hover{
    box-shadow: -2px -2px 5px #979797, 2px 2px 5px #080808;

}


h3{
    color:#888888;
    text-align: center;
    text-shadow: 1px 1px #fff;
   padding: 10px;
    font-family: 'CursiveSerifBook';
}


.auth-form{
    width: 320px;
    margin: 0 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: none;
    
}
.postInput__input {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #7a7a7a91;
    padding: 10px;
    background: #afafaf48; 
    text-shadow: 1px 1px #fff;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -3px -3px 5px #fff;
   


}

.postInput__input:focus {
    outline: none;
}

.postInput__wrapper__input {
    position: relative;
}
.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px;
    border-radius: 15px;


}
.btn-log{
    text-decoration: none;
    font-family: 'CursiveSerifBook';
    width: 150px;
    height: 30px;
    color:#505050;
    font-size: 14px;
    font-weight: 600;
    background:#b2b3b28f;
    border-radius: 15px;
    border: none;
    text-shadow: 1px 1px #dadada;
    transition: all 0.2s ease-in-out;

}

.btn-log:hover{

    box-shadow:  2px 2px 5px #7e7e7e;;
} 
.btn-log:active{
    box-shadow: inset 1px 1px 2px #bbbbbb;
}


  .error {
    outline: auto;
    outline-color: #e60c0c;
    border: 1px solid #8292ec5b;
    
}




.inputText{
    font-size: 12px;
    text-align: center;
    color:#505050;
    padding: 5px;
    text-shadow: 1px 1px #ffffff;
}

.recover__pass{
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px #fff;
    font-size: 14px;
    font-family: 'CursiveSerifBook';
    color:#505050;
    cursor: pointer;

}
.recover__pass:hover{
    color:#1c5ff0;
}
.input__error{
    font-size: 12px;
    text-align: center;
    color: #e60c0c;
   
    

}
.inputEye{
    color:#505050;
    text-shadow: 1px 1px #fff;
    cursor: pointer;
    position: absolute;
    bottom: 33%;
   right: 6%;
}




/*Стили формы смены Аватара*/



.preliminaryAvatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;   
    margin-left: 30px;
    margin-top: 20px;
}
.profileAvatar{
    display: flex;
    border:1 1px solid #3b3b3b;
    align-items: center;
    justify-content: center;
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
    

}
.formInput{
    width: 100%;
    outline:auto;
    padding: 5px;
    border-radius: 12px;
}
.formInput__input{
    width: 100%;
    border:none;
    padding: 10px;
    outline: none;
    margin:10px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
    font-size: 14px;
    color:black;
}
.saveBtn{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.save {
    width: 100px;
    padding: 8px;
    border-radius: 12px;
    border:1px solid #9e9e9e;
    color:#3b3b3b;
    background-color: transparent;
    text-align: center;

}

.save:hover {
    background-color: #6a5fff;
    border: none;
}

.inform{
    margin:10px;
}

.formImgBox{
    width: 100%;
    height: 200px;
    padding: 5px;
    

    

}
.formInputImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.inputBox{
    width: 100%;
    display:block;
    justify-content: center;
}

.someText{
    width: 100%;
    border:none;
    padding: 10px;
    outline: none;
    resize:none;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
    
    

}

.addPostForm{
    align-items: center;
    display: flex;
    flex-direction: column;
}