.boxButt{
position: fixed;
background-color: #b4b4b491;
display: flex;
align-items: center;
justify-content: center;
width: 70px;
height: 70px;
top:40%;
right:15%;
border-radius: 50%;
border:none;


}

.AddPostButt{
position: fixed;
color: #a7a7a7;
width: 60px;
height: 60px;
text-align: center;
border-radius: 50%;
background-color: #e7e7e7;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) ,-5px -5px 15px rgba(255, 255, 255, 0.5);
border: 1px solid #dbdbdb;
font-size: 36px;
}
.AddPostButt::before{
   filter: blur(2px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
}

.AddPostButt:active{
    box-shadow: 0px 3px 4px #ffffff inset, 0px 2px 3px #ffffff;

}

.AddPostButt:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border: 1px solid #cccccc;
    background-color: white;

}

