.modal {
    /* width: 800px;
    height: 600px; */
    background: #DBD7D228;
    padding: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;

}


.modal__content {
    width: 300px;
    /* height: 00px; */
    background-color: rgb(62, 62, 62);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}
.close__modal{
    position: absolute;
    top:10px;
    right: 10px;
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px

}