.header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper{
 display: flex;
}

.header__icon{
   margin:15px;

}
.ant-icon svg{
    width: 32px;
    height: 32px;
    fill: #000000;
}