.post__card {
    width: 550px;
    height: 840px;
    border: 1px solid #b6b6b6;
    margin-bottom: 10px;
    background-color: #DBD7D2;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
    overflow: hidden;
}


.post__header {
    width: 100%;
    height: 60px;
    border: 1px solid #b6b6b6;
    padding: 15px 20px;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    



}

.post__burger {
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    opacity: 0.7;

}

/*Стили Маленькой аватарки*/

/* .post__userLogo {
    width: 34px;
    height: 34px;
     margin-right: 20px;

} */

.post__userName {
    font-weight: 700;
    
}

.post__userDate {
    margin-right: auto;

}





.post__card h4 {
    margin: 10px;
    font-weight: 700;
}

.post__footer p {
    margin: 0 10px 0 15px;
    color: #000000;
    font-size: 16px;
    font-family: 'CursiveSerifBook', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.post__img {
    width: 100%;
    height: 500px;
    background-size: cover;
    overflow: hidden;

}




.card__image {

    width: 100%;
    height: 100%;
}

/*Стили комментариев и лайков*/

.post__comm {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin:0;
    cursor: pointer;
}
.post__comm__comment{
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin:0;
    cursor: pointer; 
}

span:hover {
    opacity: 0.7;
}

span:first-child {
    margin-right: 10px;

}


.post__footer {
    width: 100%;
    height: 120px;
    border-top: 2px solid #b6b6b6;
    display: flex;
    align-items: center;
    background-color: #DBD7D2;
    border-radius: 8px;

}

.comment {
    font-size: 16px;
    float: left;
    height: 30px;
    border: none;
    margin: 10px;
    background-color: #DBD7D2;
}

.post__btn {
    width: 120px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    border-radius: 8px;
    background-color: #DBD7D2;
    

}

.post__like {
    align-content: center;
    border: none;
    background-color: #DBD7D2;
    fill: none;
    margin: 15px;
    padding: 0;
}



.post__chatBubble{
    margin:0;
    display: flex;
    border: none;
    background: none;
    

}
.post__like_active {
    margin: 15px;
    border: none;
    background: none;
    fill: #000000;
    stroke: #000000;
   
  }

.footer__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.tag {
    margin-left: 8px;
    color: #584949;

}

.menu__btn {
    text-align: center;
    border:none;
    padding: 0;
    width: 50px;
    border: none;
    background-color:transparent;
    color: #000000;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    font-weight: 700;

 }

 ul{
    padding: 0;
    margin: 0;
   }
   li {
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background: #dbdbdb;
    padding: 8px 12px;
   }
   
   li:hover {
    background-color: rgba(146, 144, 144, 0.733);
    cursor: pointer;
   }
